html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    overflow: hidden;
 
}




.first-div {

    top: 350px;
    left: 600px;
    border: 2px solid white;
    
   
}



a {

    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 350px;
    left: 600px;
    letter-spacing: -10px; 
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    border: 2px solid orange;
}


a:hover {

    color: rgba(233, 232, 232, 0.322);
    font-size: 40px;
    cursor: default;
    letter-spacing: 0px; 
    text-decoration: none;  
    cursor:pointer;

}


.first-div svg.svgwave {
    width: 100%;
    height: auto;
    overflow: visible;
    opacity: 0;
   
    border: 2px solid greenyellow;
}

.first-div svg.svgwave path {

    stroke:rgb(199, 35, 35);
    stroke-width:0px;

}

.first-div svg.svgwave text {

    font-size:20px;
    fill: white;
    opacity: 0;
}


.first-div:hover .svgwave {

    opacity: 1;

}


.first-div:hover .svgwave text {

    opacity: 1;

}


/* Second-page*/

.second-page {

    background-color: rgb(254, 255, 255);
    color: black;
    overflow-y: hidden;
    overflow-x: scroll;

}

.tooltip {
   
    text-align: center;
    top: 250px;
    left: 650px;
    background-color: rgb(206, 203, 203);
    color: white;
    display: inline;
    position: relative;
    padding: 5px;
    margin-top: 200px;
    cursor:cell;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 400;
    background-color: rgb(121, 117, 117);
    color: #fff;
    text-align: center;
    top: -44px;
    left: -68px;
    padding: 70px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
 
.human {
    text-align: center;
    top: 150px;
    left: 400px;
    background-color: rgb(192, 189, 189);
    color: white;
    display: inline;
    position: relative;
    padding: 5px;
    margin-top: 200px;
    cursor:cell;
}

#H-info {

    width: 200px;
    height: 400;
    background-color: rgb(121, 117, 117);
    color: #fff;
    text-align: center;
    top: 80px;
    left: 200px;
    padding: 70px;
    position: absolute;
    z-index: 1;
    
}
/*
.woman {
   text-align: center;
   top: 250px;
   left: 650px;
   background-color: rgb(192, 189, 189);
   color: white;
   display: inline;
   position: relative;
   padding: 5px;
   margin-top: 200px;
   cursor:cell;
   opacity: 1;
}

.woman:hover {

    background-color: white;

}


*/

/*
.human:hover {
    opacity: 1;
}

.all-titles:hover .human {
    opacity: 0;
}

*/
































/* this motiom is not according to curve path.
#motion-demo {

    offset-path: path('M20,20 C20,100 200,0 200,100');
    animation: move 3000ms infinite alternate ease-in-out;
   
  }
  
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
}*/







    
  