body {
background-color:rgb(214, 94, 14);
border:10px dashed rgb(23, 143, 83);

}


a {
color: maroon;
font-size: 72px;
text-shadow: 2px 2px 9px lightblue;
text-decoration: none;
border-bottom: 3px dashed lightblue;
line-height: 60px;


}