body {
background-color:rgb(214, 94, 14);
border:10px dashed rgb(23, 143, 83);

}


a {

font-size: 72px;
text-shadow: 2px 2px 9px lightblue;
text-decoration: none;
border-bottom: 3px dashed lightblue;
/* line-height: 60px; */

}

.gender {
background-color: lightcyan;

}

.index {
background-color: purple;

}

.index a {
/* this styles the "a" tag */
    color: black;
}

.block {
  display: block;
  font-size: 90px;
  text-decoration: none
  margin: 50px;
  margin: 50px;
}

.blockrepro {
  display: block;
  font-size: 90px;
  text-decoration: none
  margin: 50px;
  margin: 50px;
  color: magenta;
  border: 2px 2px red;
}

p {

margin: 50px;

}

.violence {
  display: block;
  position: relative;
  top: 20px;
  left: 100px;

}

.viole {
  color:red;
  position: fixed;
  top: 50%;
  left: 50%;
}
