html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* body */

body {
    background-color: white;
    color: rgb(184, 180, 180);
    font-family: 'IBM Plex Mono', monospace;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}


/* GIFs */

.justice {

    position: absolute;
    top: -20%;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 10;
    opacity: 0;
    object-fit: cover;
    transform: scale(1, 0.9);
   
    
}

.society {

    position: absolute;
    top:  -20%;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 10;
    opacity: 0;
    object-fit: cover;

}

.gender {

    position: absolute;
    top:  -24%;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 10;
    opacity: 0;
    object-fit: cover;

}

.freedom {

    position: absolute;
    top:  -23%;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 10;
    opacity: 0;
    object-fit: cover;

}

.women {

    position: absolute;
    top:  -23%;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 10;
    opacity: 0;
    object-fit: cover;
    transform: scale(1, 0.9);

}

.human {

    position: absolute;
    top:  -20%;
    width: 100%;
    height: fit-content;
    left: 0;
    z-index: 10;
    opacity: 0;
    object-fit: cover;

}



/* P */

#discrete-text {
    position: relative;
    z-index: 11;
    white-space: pre-line;
    line-height: 1em;
    text-align: center;
    margin-top: 6.75%;
    
}



/* words */

#justice {

    text-decoration: none;
    color: rgb(121, 120, 120);
    z-index: 0px;
    cursor: pointer;
     
}

#society {
    
    text-decoration: none;
    color: rgb(121, 120, 120);
    z-index: 0px;
    cursor: pointer;
    
}

#gender {

    text-decoration: none;
    color: rgb(121, 120, 120);
    z-index: 0px;
    cursor: pointer;   

}


#freedom {

    text-decoration: none;
    color: rgb(121, 120, 120);
    z-index: 0px;
    cursor: pointer; 

}

#women {

    text-decoration: none;
    color: rgb(121, 120, 120);
    z-index: 0px;
    cursor: pointer; 

}

#human {

    text-decoration: none;
    color: rgb(121, 120, 120);
    z-index: 0px;
    cursor: pointer; 

}


/* Audio */
/*
#audioPlayer{
    position: absolute;
    margin-top: 67px;
    width: 200px;
    height: 25px;
}
*/

@media screen and (min-width: 768px) {


    #discrete-text {
        position: relative;
        z-index: 11;
        white-space: pre-line;
        line-height: 2em;
        text-align: center;
        margin-top: 6.75%;
        
    }
    

}

@media screen and (min-width: 1400px) {

    #discrete-text {
        position: relative;
        z-index: 11;
        white-space: pre-line;
        line-height: 1em;
        text-align: center;
        margin-top: 6.75%;
        
    }


 
    
    }
    






